
/* Pour ne pas créer de conflits de class :
- on commence le nom de chaque class par le nom de la page sur laquelle on travail :
exemple :     class="index-menu-burger" */

/* si possible, le nom des class en anglais */

/* on crée chacun une branche sur git. Et on fera des push régulièrement sur le master */

@import url('https://fonts.googleapis.com/css?family=Fjalla+One');

*{
	margin: 0;
	padding: 0;
}
*,
*:before,
*:after {
	box-sizing: border-box;
}
.clearfix:before,
.clearfix:after {
	content: " ";
	display: table;
}

.clearfix:after {
	clear: both;
}


ul{
	list-style-type: none;
}
a{
	text-decoration: none;
	color: #222;
}
body{
	overflow: hidden;
}
/* TOUT LES ELEMENTS QUI FONT WIDTH 100% SONT EN DEHORS DE LA BALISE MAIN */
main{
	max-width: 100%;
}

/* UTILISER LA DIV CLASS CONTAINER POUR CENTRER LES ELEMENTS SUR LA PAGE */

/* SUR UNE LARGEUR DE 1440PX */
div.container-small{
	max-width: 1440px;
	margin: 0 auto;
}

/* SUR TOUTE LA LARGEUR DE LA PAGE */
div.container-large{
	max-width: 100%;
}
.closed{
	visibility: hidden;
}
div.container-background {
	position: relative;
	height: calc(100vh - 120px);
	background: rgba(0, 0, 0, 0.75) url('../img/background.jpg') no-repeat;
	background-size: cover;
	background-position: center -60px;
	font-family: 'Fjalla One', sans-serif;
}

div.container-background:before {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: inherit;
	content: ' ';
}

header {
	background: rgba(21, 20, 20, 62);
	position: relative;
	z-index: 2;
	overflow: hidden;
	height: 120px;
}

header h1 {
	text-align: center;
	width: 600px;
	position: relative;
	left:50%;
	margin-left: -300px;
	display: inline-block;
}

header h1 img {
	height: 80px;
	margin-top: 20px;
}

header a {
	margin-right: 30px;
	margin-top: 30px;
	color: white;
	font-size: 20px;
	float: right;
	text-transform: uppercase;
	display: inline-block;
	font-family: 'Fjalla One';
}

.wrapper {
	position: absolute;
	width: 100%;
	left: 50%;
	top: 55%;
	transform: translate(-50%, -50%);
	text-transform: uppercase;
	padding-top: 30px;
	text-shadow: 2px 2px 4px black;
	letter-spacing: 2px;
	z-index: 9;
}

.wrapper h2 {
	text-align: center;
	color: rgba(221, 7, 65, 100);
	font-size: 90px;
	margin-bottom: 40px;
}

.wrapper p {
	color: rgba(221, 7, 65, 100);
	font-size: 30px;
	text-align: center;
	margin-bottom: 20px;
}

.wrapper h3 {
	color: white;
	font-size: 60px;
	text-align: center;
	margin-bottom: 40px;
}

.date {
	font-size: 30px;
}

.cta {
	text-align: center;
	color: white;
}

.cta a {
	color: white;
	font-size: 20px;
	width: 100px;
	border: solid white 1px;
	padding: 5px 15px;
}

.wrapper-popup,
.mg-create-acc {
	background: rgba(0, 0, 0, 0.4);
	width: 100%;
	height: 100vh;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 8;
}

.popup {
	background-color: rgb(248, 248, 248);
	width:40%;
	position: relative;
	top:50%;
	transform: translateY(-50%);
	margin: 0 auto;
	height: 95vh;
	padding-top: 60px;
	font-family: "Helvetica Neue";
}

.create {
	font-family: "Helvetica";
	font-weight: bold;
}
.popup img{
	width: 125px;
	display: block;
	margin: 0 auto;
}
.popup>p{
	text-align: center;
	text-transform: uppercase;
	font-size: 25px;
	margin-top: 30px;
	color: rgba(29, 20, 20, 100);
	line-height: 150%;
}
.popup input{
	display: block;
	padding: 10px;
	margin: 0 auto;
	width: 70%;
}
.popup input:nth-of-type(1){
	margin-top: 30px;
}
.popup input:nth-of-type(2){
	margin-top: 10px;
}

.popup label {
	color: rgb(159, 159, 159);
}
.popup div.checkbox{
	width: 70%;
	margin: 0 auto;
	position: relative;
}

.popup .cross {
	position: absolute;
	top: 10px;
	right: 10px;
	width: 30px;
	cursor: pointer;
}

.checkbox p {
	position: absolute;
	right: 0;
	bottom: 0;
	color: rgb(159, 159, 159);
	text-transform: none;
	font-size: 16px;
	font-family: "Helvetica Neue";
	margin-top: 30px;
	font-weight: 200;
}

.checkbox label {
	font-size: 16px;
	font-family: "Helvetica Neue";
	font-weight: 200;
}

.popup div.checkbox input,
.popup div.checkbox label{
	display: inline-block;
}
.popup div.checkbox p{
	float: right;
}
.popup div.checkbox input[type="checkbox"]{
	width: 10px;
	height:10px;
	margin-right: 10px;
}
.popup div.checkbox input{
	width: 20%;
}

.social {
	width: 70%;
	line-height: 24px;

}

.social p {
	font-family: "Helvetica Neue";
	font-size: 16px;
	font-weight: 200;
	letter-spacing: 1.5px;
	line-height: 38px;
}

.connect {
	display: block;
	margin: 0 auto;
	background: rgba(0, 0, 0, 0.97);
	margin-top: 30px;
}

.connect p {
	color: white;
	font-family: "Helvetica Neue";
	text-align: center;
	text-transform: uppercase;
}

.fb {
	display: block;
	margin: 13px auto;
	background: rgb(59, 89, 152);
	text-align: center;
	text-transform: uppercase;
}

.fb div {
	margin: 6.5px 0 0 5px;
	float: left;
	width: 15px;
}

.fb p {
	color: white;
	line-height: 38px;
}

.twitter {
	display: block;
	margin: 0 auto;
	background: rgb(29, 161, 242);
	text-align: center;
	text-transform: uppercase;

}

.twitter div {
	margin: 6.5px 0 0 5px;
	float: left;
	width: 15px;
}

.twitter p {
	color: white;
	line-height: 38px;
}

/* POP-UP ERMES JEUX CONCOURS */

.wrapper-popup-concours {
	background: rgba(0, 0, 0, 0.4);
	width: 100%;
	height: 100vh;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 8;
}
.popup-concours img.pop-cross{
	display: block;
	width: 70px;
	left: 50%;
	position: absolute;
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	transform: translateX(-50%);
	top: 55px;
	z-index:10;
}
.popup-concours {
	background-color: rgb(248, 248, 248);
	width:60%;
	position: relative;
	top:50%;
	transform: translateY(-50%);
	margin: 0 auto;
	height: 95vh;
	padding-top: 0px;
	font-family: "Helvetica Neue";
	z-index: 6;
}

.popup-concours .cross {
	position: absolute;
	top: 10px;
	right: 10px;
	width: 30px;
	cursor: pointer;
}

.lots {
	float: left;
	width: 50%;
	height: 100%;
	background-color: white;
}

.lots>img{
	display: block;
	width: 150px;
	margin: 20px auto;
}
.lots h3{
	color: #DD0741;
	text-align: center;
	margin: 20px 0;
	font-size: 28px;
	letter-spacing: .6px;
	text-transform: uppercase;
}
.lots>p:nth-of-type(1){
	text-align: center;
	font-size: 30px;
	text-transform: uppercase;
	font-family: 'Fjalla One';
}
.lots p:nth-of-type(2){
	text-align: center;
	font-family: 'Fjalla One';
	font-size: 18px;
	letter-spacing: .6px;
}
.lots p:nth-of-type(3){
	padding: 0 20px;
	font-family: 'Fjalla One';
	font-size: 16px;
	letter-spacing: 0.6px;
}
.lots ul{
	width: 100%;
	margin: 40px 0;
}
.lots ul li{
	height: 40px;
	font-family: 'Fjalla One';
	letter-spacing: .6px;
}
.lots ul li:nth-of-type(2){
	margin: 10px 0;
}
.lots ul li p{
	float: left;
}
.lots ul li p:nth-of-type(1){
	height: 40px;
	border-right:1px solid #222;
	width: 13%;
	text-align: center;
	font-size: 20px;
	font-family: 'Fjalla One';
	font-weight: 400;
}
.lots ul li p:nth-of-type(2){
	width: 87%;
	font-size: 14px;
	line-height: 40px;
	text-align: left;
	padding-left: 10px;
	position: relative;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
}
.reglement {
	float: left;
	width: 50%;
	height: 100%;
	background-color: rgb(221, 7, 65);
}
.reglement>img{
	display: block;
	margin: 60px auto 30px;
	width: 150px;
}
.reglement>p:nth-of-type(1){
	font-family: 'Fjalla One';
	font-size: 34px;
	text-transform: uppercase;
	text-align: center;
	letter-spacing: .6px;
}
.reglement>p:nth-of-type(2){
	font-family: 'Fjalla One';
	letter-spacing: .6px;
	text-align: center;
	margin: 83px 0 20px;
}
.reglement>a{
	text-align: center;
	display: block;
	margin-top: 50px;
}
/* POP-UP CREATION DE COMPTE */




/*------ RANKING PAGE ------*/

body.connected {
	background: none;
	font-family: 'Fjalla One', sans-serif;
	overflow-y: scroll;
}

header.connected {
	height: 80px;
}

header.connected img {
	margin-top: 10px;
	width: 19%;
	height: 65px;
}

header.connected a {
	font-size: 15px;
}

.content-profil{
	width: 100%;
	margin-top: 30px;
}
.content-profil .arrow-left{
	float: left;
	width: 3%;
	margin: 150px 0 0 30px;
}

.content-profil .arrow-right{
	width: 3%;
	margin: 150px 30px 0 0;
}
.content-profil .profil-name,
.content-profil .bike-info,
.content-profil .social-result{
	float: left;
}
.content-profil .profil-name,
.content-profil .social-result{
	width: 10%;
}
.content-profil .profil-name {
	text-align: center;
	color: #DE2746;
	font-family: 'Fjalla One';
	font-size: 22px;
	font-family: 'Helvetica Neue';
	font-weight: 100;
	padding-left: 90px;
}
.content-profil .profil-name h1{
	margin-left: 40%;
}
.content-profil .social-result{
	font-size: 26px;
	padding-right: 90px;
}
.content-profil .social-result .like p:nth-of-type(2),
.content-profil .social-result .share p:nth-of-type(2){
	color: #DE2746;
	/*font-size: 26px;*/
}
.content-profil .social-result .like{
	margin-bottom: 20px;
}
.content-profil .bike-info{
	width: 70%;
}
.bike-info>ul{
	position: absolute;
	left: 50%;
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	transform: translateX(-50%);
}
.bike-info>ul li{
	display: inline-block;
}
.bike-info>ul li:nth-of-type(2){
	margin: 0 10px;
}
.bike-info>ul li img{
	display: block;
	width: 35px;
	height: 35px;
}
.bike-info>ul li:nth-of-type(1){
	margin-right: 50px;
}
.bike-info>ul li:nth-of-type(3){
	margin-left: 50px;
}
.mg-bike img{
	display: block;
	margin: 0 auto;
	width: 700px;
}

.mg-bike{
	margin-bottom: 20px;
}
.content-profil .profil-name,
.content-profil .social-result{
	text-align: center;
	margin: 7% 0;
}
.content-profil .social-result .social-bar{
	margin-left: 5%;
	width: 100%;
	height: 2px;
	background-color: #222;
}
.content-profil .social-result .share{
	margin-top: 30%;
}
.ranking{
	width: 100%;
	text-align: center;
	margin-top: 80px;
}
.ranking>p{
	text-align: left;
	width: 80%;
	margin: 0 auto;
	font-size: 26px;
	margin-bottom: 20px;
}
.ranking ul{
	width: 80%;
	margin: 0 auto;
	height: 40vh;
	overflow-y: scroll;
}
.ranking ul li{
	text-align: left;
	line-height: 70px;
	background: #F0EFEF;
}
.ranking ul li a{
	margin-left: 50px;
	font-size: 22px;
}
.ranking ul li a,
.ranking ul li p{
	display: inline-block;
}
.ranking ul li p:nth-of-type(1),
.ranking ul li p:nth-of-type(2){
	width: 30%;
	text-align: right;
	float: right;
}
.ranking ul li p:nth-of-type(1){
	width: 10%;
	margin-right: 50px;
}
.ranking ul li p img{
	display: inline-block;
	width: 25px;
	vertical-align: middle;
	margin-right: 20px;
}
.ranking ul li:nth-child(even){
	margin: 10px 0;
}

